.container {
  width: 90%;
  margin: 40px auto;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

button {
  margin-right: 10px;
  background-color: #1b2239;
  color: white;
  font-weight: bold;
}

.header {
  padding: 15px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #3e4d7e;
  margin-bottom: 50px;
  padding-bottom: 40px;
}


.errorView {
  margin-top: 5px;
  color: red;
}

.btn-viewform {
  margin-top: 15px;
}

label {
  font-weight: 700;
  color: #3e4d7e;
}

.thankyou_main {
  display: flex;
  align-items: center;
  height: 500px;
  flex-direction: column;
}